nav {
  margin-bottom: 15px;
} 
nav > .container-fluid, .main-container {
  width: 80vw;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  nav > .container-fluid, .main-container {
    width: 100vw;
    margin: 0 auto;
    
  }

  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
