#root {
  max-width: 400px;
  padding: 2em;
  margin: 0 auto;  
  text-align: center;
  
}
.Card{
  min-width: 400px;

}

.okvirSlike{
  min-height: 100px;
  background-color: aqua; 
}



.splosni-podatki{
  min-height: 250px;
  background-color: antiquewhite;
}

.links{
  min-height: 70px;
  background-color: aquamarine;
}

.follow{
  min-height: 70px;
  background-color: aqua;
}
