#root {
  max-width: 400px;
  text-align: center;
}
.Card{
  min-width: 400px;
}

.okvirSlike{
  height: 150PX;
}

.slika{
  width: 400px;
  height: 150PX;
  object-fit: cover;
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px; 
}

.profil{
  height: 120px;
  width: 120px;
  border-radius: 120px;
  position: absolute;
  left: calc(50% - 60px);
  margin-top: -60PX;
}

.profil-photo{
  height: 120px;
  width: 120px;
  border-radius: 120px;
  object-fit: cover; 
}


.splosni-podatki{
  margin: 0;
  padding: 2rem;
  min-height: 120px;
}

h3{
  padding-top: 20px;
}

.links{
  padding: 0 50px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.followers-info{
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}

.box{
  width: 50%; 
  border: 2px solid #121212;
  margin: 1px;
  padding-top: 5px;
}

p{
  margin: 5px 0 5px 0;
}

.follow-btn-container{
  min-height: 70px;
  background-color: #3aad05;
  color: #fff;
  font-weight: 600;
  font-size: larger;
  border-bottom-left-radius: 30px; 
  border-bottom-right-radius: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
